body{
    background-color: black;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.mainBox{
    display: flex;
    flex-direction: column;
    
}


.insideBox{
    display: flex;
    flex-direction: column;
    
}

.btnGroup{
    display: flex;
    gap: 15px;
}
button{
height: 35px;
color: rgb(0, 0, 0);
background-color: yellow;
border-radius: 20px;
}

h1{
    color: white;
    margin: 10px;
}